* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 50px;
}

body {
    background-color: #bbffd7;
}

h1, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

form {
    padding: 30px;
    margin-top: 40px;
    width: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

form input, form button {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    resize: none;
}

button {
    background-color: #2ecc71;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #267246;
}

.success-message {
    background-color: #267246;
    padding: 16px;
    color: #fff;
    display: none;
}
